/* NavButton */
.navBtn{
    background-color: rgb(48, 196, 159) ;
} 
/* .navItem1{
    margin-right: 50px;
}
.navItem2{
    margin-left: 50px;
} */
/* Section 1 */
.sec1{
    min-height: 800px;
    background-color: rgb(48, 196, 159);
    padding-top: 150px;
    position: sticky;
    margin-top: 50px;
}
.avatar{
    max-height: 300px;   
}
.star1{
    color:white;
    font-size: xx-large;
    
 }
.txtColor{
color: white;
font-size: xx-large;
}
.line1 {
    width: 78px;
    height: 0;
    border: 2px solid white;
    margin: 8px;
    display:inline-block;
}
.portfolio-container{
    gap: 30px 0
}
.portfolio-item-container{
    position:relative;
    overflow: hidden;
}
.portfolio-item{
    width: 300px;
}
.green{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 188, 155, 0.7);
    /* background-color: rgba(27, 188, 155, 0,7); */
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
}
.portfolio-item-container:hover .green{
    opacity: 1;
}
.icon{
    color: white;
    font-size: 5em;
}
.modal-container{
    text-align: center;
    display: inline-block;
}
.modal-container h5{
    color: #707180;
    font-size: 30px;
    margin-top: 50px;
}
.modal-item-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.modal-item-1 img{
    width: 350px;
    height: auto;
    margin-bottom: 10px;
}
.modal-item-1 p{
    width: 350px;
    margin: 0 auto;
}
.modal-item2 button{
    display: inline-block;
    background-color: #1bbc9b;
    margin-bottom: 50px;
}
.close{
    display: flex;
    justify-content: end;
}
/* Section 2 */
.star2{
   color:black;
   font-size: xx-large;
}
.line2{
    width: 78px;
    height: 0;
    border: 2px solid black;
    margin: 8px;
    display:inline-block
}
.itemsSec2{
    row-gap: 40px;

}
.pseudo{
   display: none;
   position: relative;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgb(48 196 159 / 48%);
}
 .pseudo i{
   color: white;
    font-size: 50px;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}
.klasa:hover + .pseudo{
    display: block;
}

/* ****About***** */
.itemAbout{
    gap: 30px;
}
.secAbout{
    min-height: 500px;
    background-color: rgb(48, 196, 159);
    padding-top: 150px;
    margin-top: 50px;
}
/* ****Contact**** */
button{
    background-color:  rgb(48, 196, 159);
    color: white;
    border: none;
    width: 55px;
    height: 30px;
    
}
button:hover{
    background-color:  rgb(12, 116, 90) ;
    width: 65px;
    height: 40px;
}
/* footer */
.fa-facebook:hover, .fa-twitter:hover, .fa-linkedin:hover, .fa-futbol-o:hover{
    background-color: white;
    color: #1b252f;
}
footer{
    background-color: #1b252f;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 12px;  
}
.info-text{
    margin-bottom: 0;
}
.info-icons{
    margin-bottom: 20px;
}
.fa-facebook, .fa-twitter, .fa-linkedin, .fa-futbol-o{
    border: 1px solid white;
    border-radius: 2px;
    padding: 5px 10px;
    margin: 4px;
    margin-bottom: 10px;
}
.fa-facebook:hover, .fa-twitter:hover, .fa-linkedin:hover, .fa-futbol-o:hover{
    background-color: white;
    color: #1b252f;
}
footer{
    background-color: #1b252f;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 12px;  
}
footer p{
    margin-bottom: 0;
}
.info-text{
    margin-bottom: 0;
}
.header-portfolio{
    background-color: #1bbc9b;
    padding-top: 130px;
}


/* COURSES */
.backgroundImages{
    background-image: url(Resursi/Resursi/courses-cover.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    
    
    padding-top: 150px;
    position: sticky;
    margin-top: 50px;
}
.sec1{
    background-color:lightblue;
    padding: 20px;
}
.tm1{
    margin-left: 20px;
    margin-right: 20px;
}
.tabelaTxt{
    text-align: start;
}
button{
    width:170px;
    text-align: center;
    margin: 2px solid green !important;
   
}
button:hover{
    width: 170px;
    transition: 1s;

}